@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

::selection {
  @apply bg-better-yellow text-better-black;
}

blockquote {
  @apply block p-2 pl-4 ml-1 text-xs bg-gray-100 border-l-4 border-gray-300;
}

pre code {
  @apply block p-4 m-1 text-xs bg-gray-100 rounded;
}

code {
  @apply px-1 py-0.5 text-xs bg-gray-100;
}

html,
body {
  @apply h-full;
}

body > div:first-child,
div#__next,
div#__next > div {
  @apply h-full;
}

.issue__body h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}
